/* .col-12.col-md-4 {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin-left: 0;
    padding: 0;
    height: 100%;
} */

/* .container {
    margin: 0;
    padding: 0;
} */

.span {
    border: 1px solid;
    margin: 0 0 0 8px;
    padding: 20px;
    color: gray;
    font-weight: normal;
    border-radius: 5px;
}
.city {
    font: 50px;
    font-weight: bold;
}
#container {
    border:1px solid green;
}
#name {
    /* border: 1px solid green;
    border-radius: 5px; */
    
    padding-left: 30px;
    padding-top: 20px;
    
}
#temp {
    border-left: green;
    border-right: green;
    padding-left: 30px;
    padding-top: 20px;
}
#humidity {
    border-left: green;
    border-right: green;
    padding-left: 30px;
    padding-top: 20px;
}
#wind {
    border-left: green;
    border-right: green;
    padding-left: 30px;
    padding-top: 20px;
}
#uv {
    border-left: green;
    border-right: green;
    padding-left: 30px;
    padding-top: 20px;
}