.span {
    border: 1px solid;
    margin: 0 0 0 8px;
    padding: 20px;
    color: gray;
    font-weight: normal;
    border-radius: 5px;
}
.city {
    font: 50px;
    font-weight: bold;
}
#container {
    border:1px solid green;
}
#name {
    padding-left: 30px;
    padding-top: 20px;
    
}
#temp {
    padding-left: 30px;
    padding-top: 20px;
}
#humidity {
    padding-left: 30px;
    padding-top: 20px;
}
#wind {
    padding-left: 30px;
    padding-top: 20px;
}
#uv {
    padding-left: 30px;
    padding-top: 20px;
}
#fiveDay {
    padding-left: 30px;
    padding-top: 20px;
}
